@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

body{
    font-family: 'Outfit', 'sans-serif';
    font-size: 15px;
    font-weight: 400;
    background-color: var(--Light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    
    border-radius: 20px;
    max-width: 320px;
    margin-top: 20vh;
    box-shadow: 5px 25px 60px rgba(0, 0, 0, 0.07);
}
.card img {
    /* width: 50%; */
    border-radius: 12px;
    margin-bottom: 10px;
}
.card .container {
    padding: 15px;
}
.card .container .title {
    font-weight: 700;
    color: var(--Dark-blue);
    margin-top: 10px;
    text-align: center;
}
.card .container .desc { 
    color: var(--Grayish-blue);
    margin: 15px 15px 25px 15px;
    text-align: center;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }








@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 1440px) {
    
}
